target/
*.txt
.idea/*
*.classpath
*.project
.settings/
*.txt
!stopWords.txt
!abbreviations.txt
!specialPrefixes.txt
!tweetcategory.txt
!tweetcategorytest.txt
!musicTweets.txt
!politicsTweets.txt
!sportsTweets.txt
*.iml
.idea/
tweets/
src/main/resources/config.properties
